<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868262124257-korkt6j6q133ljm0gjlob9bg701kpbvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868262124257-korkt6j6q133ljm0gjlob9bg701kpbvt</string>
	<key>API_KEY</key>
	<string>AIzaSyCR9iC_AS7p7Oz41tdhk88bGAbnW_LRQQs</string>
	<key>GCM_SENDER_ID</key>
	<string>868262124257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appmiagedelias</string>
	<key>PROJECT_ID</key>
	<string>tpmiaged</string>
	<key>STORAGE_BUCKET</key>
	<string>tpmiaged.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868262124257:ios:71ea71800d051573d475a0</string>
</dict>
</plist>